<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.eric.oin.dao.BilibiliBvDao">

    <select id="existBvCode" parameterType="String" resultType="java.lang.Boolean">
        SELECT EXISTS(
            SELECT id
            FROM bilibili_comment
            WHERE bv_code = #{bvCode}
        )
    </select>

</mapper>